.excalidraw {
  .ExcalidrawLogo {
    --logo-text--mobile: 0.75rem;

    --logo-text--xs: 1.5rem;

    --logo-text--small: 1.75rem;

    --logo-text--normal: 2.2rem;

    --logo-text--large: 65px;

    display: flex;
    align-items: center;

    .ExcalidrawLogo-text {
      width: auto;
      color: var(--color-logo-text);
      font-family: "Assistant", "Virgil", sans-serif;
      font-weight: 700;
      letter-spacing: 0.01em;
      line-height: 1;
      user-select: none;
    }

    &.is-mobile {
      .ExcalidrawLogo-text {
        font-size: var(--logo-text--mobile);
      }
    }

    &.is-xs {
      .ExcalidrawLogo-text {
        font-size: var(--logo-text--xs);
      }
    }

    &.is-small {
      .ExcalidrawLogo-text {
        font-size: var(--logo-text--small);
      }
    }

    &.is-normal {
      .ExcalidrawLogo-text {
        font-size: var(--logo-text--normal);
      }
    }

    &.is-large {
      .ExcalidrawLogo-text {
        font-size: var(--logo-text--large);
      }
    }
  }
}
